extends template/_template

block variables
  - var title = 'образовательный центр физичесой культуры и спорта'


block content
  include common/_header-index
  include common/_block-main
  include common/_what-you-get-2
  include common/_our-training-programs
  include common/_our-teachers



  include common/_diploma
  include common/_why-study-with-us
  include common/_reviews
  include common/_registration 
  include common/_partners
  include common/_map
  include common/_footer 
