extends template/_template

block variables
  - var title = 'образовательный центр физичесой культуры и спорта'


block content
  include common/_header-index
  include common/_aggregate-compilation
  include common/_popup-aggregate-compilation
  include common/_footer
