.diploma {
	.clearfix;
	&__wrap {
		.clearfix;
		padding: 100px 50px 50px 105px;
	}

	&__img {
		float: left;
		margin-right: 35px;
		width: 298px;
		
		img {
			width: 100%;
		}
	}

	&__text {
		float: left;
		width: 310px;
		font-size: 20px;
		padding: 140px 0 0 20px;
		line-height: 1;
		
	}

}