.registration {
	&__wrap {
		padding: 40px 0;
	}
	
	&-block {
		margin: 0 auto;
		position: relative;
		background-color: rgba(51, 51, 102, 0.788);
		padding: 35px 135px 20px;
		width: 100%;
		
		&_bg-color {
			background-color: rgba(51, 51, 102, 1);
		}
		
		&__text {
			color:@blue;
			font-size: 19px;
			margin-bottom: 20px;
			text-align: center;
		}

		&__input {
			float: left;
			color: #000;
			padding: 4.5px 43px;
			font-size: 16px;
			border:0;
			width: 329px;
			height: 32px;
			text-align: center;
			
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #ccc;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: #ccc;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: #ccc;
			}
			:-moz-placeholder { /* Firefox 18- */
			  color: #ccc;
			}
			
			&-block {
				.clearfix;
				margin-bottom: 10px;
			}
		}

		&__btn {
			float: right;
			background-color: @blue;
			border:0px;
			color: @purple;
			font-size: 15px;
		    width: 40%;
		    text-align: center;
		    transition: 0.3s;
		    cursor: pointer;
		    padding: 4px;
		    height: 32px;
		    width: 266px;
		    
		    &:hover {
				background-color: darken(@blue, 10%);
			}
		}

		&__link {
			display: inline-block;
			color: #fff;
			font-size: 12px;
			text-align: center;
			width: 100%;
			transition: 0.3s;
			
		    &:hover {
				color: darken(@blue, 10%);
			}
		}

		&__confirmation {
			position: absolute;
			bottom: -70px;
			left: 50%;
			transform: translate(-50%, 0)  scale(0.2, 0.2);
			width: 480px;
			background-color: rgba(255,255,255, 0.5);
			text-align: center;
			font-size: 20px;
			color: @gray;
			padding: 5px;
	        border-radius: 50px;
			transition: 0.3s;
			opacity: 0;
			

			&.active {
				opacity: 1;
				transform: translate(-50%, 0)  scale(1, 1);
			}
		}

		&_width-80  {
			width: 80%;
		}
	}
}


@media (max-width: 1200px) {
	.registration {
		
		&-block {
			&__input,
			&__btn {
				display: inline-block;
				text-align: center;
				width: 100%;
				margin-bottom: 20px;
				padding: 4.5px;
			}
		}
	}
} 

@media (max-width: 990px) {
	.registration {
		
		&-block {

			&_width-80  {
				width: 100%;
			} 
		}
	}
} 

@media (max-width: 769px) {
	.registration {

		
		&-block {
    		padding: 35px 35px 30px;
    		
    		&__text {
    			font-size: 30px;
    		}

			&__input,
			&__btn {
				font-size: 25px;
			}
		}
	}
} 

@media (max-width: 415px) {
	.registration {

		
		&-block {


			padding: 15px 35px 20px;
			
			&__text {
			    font-size: 17px;
			    margin-bottom: @sp/3;
			}

			&__input,
			&__btn {
				font-size: 18px;
				margin-bottom: @sp/3;
			}
		}
	}	
}

@media (max-width: 386px) {
	.registration-block {
		&__text {
			font-size: 18px;
		}

		&__confirmation {
			font-size: 16px;
			width: 100%;
		}
	}
}

@media (max-width: 321px) {
	
	
}
