.slider-reviews {
	position: relative;
		&__slide {

			&-wrap {
				background-color: #fff;
				float: left;
				width: 65%;
				padding: @sp/3 10px;
			}
			
			&-top,
			&-middle,
			&-bottom {
				.clearfix;
			}

			&-top,
			&-middle {
				margin-bottom: @sp/3;
			}
		}

		&__img {
			float: left;
			margin-left: 65px;
			width: 140px;
			height: 140px;
			overflow: hidden;
			border-radius: 50%;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			background-position: center center;
			margin-right: @sp*2;
		}

		&__text {
			font-size: 14px;
			line-height: 1.3;
			height: 165px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		&__name {
			float: left;
			color: #42648b;
			font-size: 15px;
			margin-right: 10px;
			font-weight: bold;
		}

		&__date {
			float: left;
			font-size: 15px;
			color: @gray;
		}

		&__edit,
		&__close,
		&__like {
			float: right;
			color: #bac7d6;
			margin-left: @sp/3;
		}

		&__btn {
			float: left;
			color: #42648b;
			font-size: 13px;
		}

	.slick-next.slick-arrow {
		position: absolute;
		right: 0px;
		left: auto;
		top: 47%;

		
		&:after {
			content: "\F054";
			font-size: 50px;
		}
	}

	.slick-prev.slick-arrow {
		position: absolute;
		left: 0px;
		right: auto;
		top: 47%;

		
		&:after {
			content: "\f04d";
			font-size: 50px;
		}
	}

	.slick-dots {
		.clearfix;
		
		li {
			&.slick-active {
				&:before {
					background-color: #fff;
				}			
			}

			&:hover {
				&:before {
					background-color: #fff;
				}
			}

			&:before {
				background-color: #dbedff;
				margin: 0 @sp/3;
			}
		}
	}
}

@media (max-width: 1200px) {
	.slider-reviews .slick-next.slick-arrow,
	.slider-reviews .slick-prev.slick-arrow  {
		display: none !important;
	}

	.slider-reviews .slick-dots {
		display: block;
	}

	.slider-reviews .slider-reviews__slide-wrap {
		width: 78%;
	}
	

	.slider-reviews .slider-reviews__img {
		margin-left: 0;
	}
}

@media (max-width: 990px) {
	.slider-reviews .slider-reviews__slide-wrap {
		width: 70%;
	}
	
} 

@media (max-width: 725px) {
	.slider-reviews .slider-reviews {
		&__img {
			width: 100px;
    		height: 100px;
		}
	}
}

@media (max-width: 590px) {
	.slider-reviews .slider-reviews {
		&__img {
			display: none;
		}

		&__slide-wrap {
			width: 100%;
		}
	}
}

@media (max-width: 413px) {
	.slider-reviews .slider-reviews .slick-dots {
	    margin-bottom: 0px;
	    margin-top: 20px;
	}

	.slider-reviews .slider-reviews .slick-dots li:before {
	}
}


