.training-program {
	position: relative;
	&__wrap {
		background-color: rgba(255, 255, 255, 0.71);
		min-height: 433px;
		padding: 50px 55px;
		color: @purple;
	}

	&__title {
		font-size: 30px;
		font-weight: normal;
		margin: 0 0 25px 0;
	}

	&__list {
		margin-bottom: 25px;
	}

	&__elem {
		font-size: 22px;
		line-height: 1.15;
		
		span {
			color: @blue;
		}
	}

	&__submit {
		font-size: 22px;
		
		span {
			text-decoration: underline;
		}
	}
}


