.what-you-get {
	position: relative;
	&__wrap {
		background-color: rgba(153, 204, 255, 0.71);
		width: 100%;
		padding: 50px 35px 40px;
	}

	&__title {
		display: inline-block;
		font-size: 30px;
		width: 100%;
		color: @purple;
		text-align: center;
		margin: 0 0 50px 0;
		font-weight: normal;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__elem {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 10px;
		width: 20%;
		text-align: center;
	}

	&__img {

		margin: 0 auto;
		flex: 0 1 auto;
		margin-bottom: 25px;
		
		img {
			width: 100%;
		}
	}

	&__text {
		font-size: 20px;
		color: @purple;
		line-height: 1;
	}

}

@media (max-width: 990px) {
	.what-you-get {
		&__list {
			flex-direction: column;
		}

		&__elem {
			margin: 0 auto;
			flex-direction: row;
			width: 70%;
		}

		&__img {
			margin-right: 10%;
			margin-bottom: 0;
		}

		&__text {
			flex: 1 1 200px;
			text-align: left;
		}
	}
} 

@media (max-width: 735px) {
	.what-you-get {
		&__elem {
			margin: 0 auto;
			flex-direction: row;
			width: 100%;
		}

		&__img {

		}
	}
} 

@media (max-width: 413px) {
	.what-you-get {
		&__wrap {
			padding: 50px 20px 40px;
		}

		&__text {
			font-size: 16px;
		}
		
		&__img {
		    flex: 1 1 60px;
		}

		&__elem {
			padding: 10px 0;
		}
	}
}
