.wrapper {
	position: relative;
	// width: 100vw;
	padding-top: 140px;
	
	&:before {
		content: '';
		position: absolute;
		top: 0px;
		height: 154px;
		width: 100%;
	}
}

@media (max-width: 801px) { 
	.wrapper {
		padding-top: 108px !important;
	}
}

@media (max-width: 769px) { 
	.wrapper {
		padding-top: 75px !important;
	}
}