* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	font-family: Arial;
	-webkit-tap-highlight-color: transparent;
}



html {
	height: 100%;

}

body {
	bottom: 100vw !important;
	height: 100%;
	background-color: #fff;
	background-image: url(../img/bg.jpg);
	background-position: center center;
	
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}

input[type="button"] {
	border:0px;
	cursor: pointer;
}

@import 'all/bootstrap/less/bootstrap.less';
@import 'all/wowjs/animate.less';

@import 'all/materialdesignicons.less';

@import 'all/mixins.less';
@import 'all/variables.less';
@import 'all/container.less';
@import 'all/normalize.less';
@import 'all/wrapper.less';
@import 'all/header.less';
@import 'all/footer.less';
@import 'all/logo.less';
@import 'all/block-main.less';
@import 'all/registration-block.less';
@import 'all/what-you-get.less';
@import 'all/what-you-get-2.less';
@import 'all/training-program.less';
@import 'all/learning-process.less';
@import 'all/diploma.less';
@import 'all/why-study-with-us.less';
@import 'all/reviews.less';
@import 'all/slider-reviews.less';
@import 'all/partners.less';
@import 'all/anchor.less';
@import 'all/our-training-programs.less';
@import 'all/our-teachers.less';
@import 'all/lk.less';
@import 'all/video-block.less';
@import 'all/news.less';
@import 'all/blog.less';
@import 'all/form-registracion.less';

@import 'all/popup.less';

@import 'all/map.less';
@import 'all/slider.less';
@import 'all/fixed-menu.less';
@import 'all/fonts.less';

