section.aggregate-compilation
	.anchor#aggregate-compilation
	.container
		.row
			.col-md-12
				.form-registracion__wrap

					.form-registracion__logo
					h2.form-registracion__title-center 
						|Составление  тренировочного комплекса

					.form-registracion__text.form-registracion__text_blue 
						|Составьте комплекс и диету для девушки 28 лет с 10-летним опытом аэробных тренировок. Задача - увеличение мышечной массы.

					.form-registracion__text.form-registracion__text_italic 
						|Больше приседать и меньше есть шоколадок.Больше приседать и меньше есть шоколадок.Больше приседать и меньше есть шоколадок.Больше приседать и меньше есть шоколадок.Больше приседать и меньше есть шоколадок.Больше приседать и меньше есть шоколадок.

					.row
						.col-md-12
							label(for="textarea").form-registracion__text_italic-small 
								|Если Вы хотите пересдать тест, свяжитесь с нами и поясните причину:
					.row
						.col-md-9
							textarea(name="textarea", rows="3").form-registracion__textarea
						.col-md-3
							input(type="button", value="Отправить").form-registracion__btn.form-registracion__btn_purple


					


