section.block-main
	.block-main__wideo
	.container
		.row
			.col-xs-12
				.block-main__info
					.block-main__text Получите все необходимые знания о спорте, чтобы грамотно заниматься в зале самому и помогать другим вместе с Образовательным центром Физической культуры Спорта и Фитнеса.<br> Начните обучение, когда вам будет удобно

					.registration-block 
						.registration-block__text Зарегистрируйтесь для получения демо-доступа к учебным материалам 
						.registration-block__input-block
							input(type="text", placeholder="Ваш электронный адрес").registration-block__input
							a(href="#").registration-block__btn Получить доступ
						a(href="#").registration-block__link Отправляя свои персональные данные, Вы соглашаетесь на их обработку
						.registration-block__confirmation Письмо с подтверждением получения доступа отправлено Вам на почту






