section.block-main
	.block-main__video
		video(autoplay, loop)
			source(src="../video/bg-2.mp4", type="video/mp4")
	.block-main__slider
		ul.block-main__list
			li.block-main__elem(style="background-image:url(img/slider-main/s1.jpg)")
			li.block-main__elem(style="background-image:url(img/slider-main/s2.jpg)")
			li.block-main__elem(style="background-image:url(img/slider-main/s3.jpg)")
			li.block-main__elem(style="background-image:url(img/slider-main/s4.jpg)")
			li.block-main__elem(style="background-image:url(img/slider-main/s5.jpg)")
			li.block-main__elem(style="background-image:url(img/slider-main/s6.jpg)")
			li.block-main__elem(style="background-image:url(img/slider-main/s7.jpg)")
	.container
		.row
			.col-xs-12
				.block-main__info
					a(href="index.html").logo
						img(src="img/logo.png", alt="logo")
					.block-main__text Получите все необходимые знания о спорте, чтобы грамотно заниматься в зале самому и помогать другим вместе с Образовательным центром Физической культуры Спорта и Фитнеса.<br> Начните обучение, когда вам будет удобно

					.registration-block 
						.registration-block__text Зарегистрируйтесь для получения <nobr>демо-доступа</nobr> к учебным материалам 
						.registration-block__input-block
							input(type="text", placeholder="Ваш электронный адрес").registration-block__input
							input(type="submit", value='Получить доступ').registration-block__btn 
						a(href="#").registration-block__link Отправляя свои персональные данные, Вы соглашаетесь на их обработку
						.registration-block__confirmation Письмо с подтверждением получения доступа отправлено Вам на почту




