section.blog
	.anchor#blog
	.container
		.row
			.col-xs-12
				.blog__wrap
					.blog__list-wrap
						ul.blog__list
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.
							li.blog__list-elem
								a(href="#").blog__list-link
									.blog__list-img(style="background-image:url(img/preview.jpg)")
									.blog__list-text 
										span Заголовок новости
										| Анонс новости. Анонс новости. Анонс новости. Анонс новости. Анонс новости.									
					.blog__list-buttons
						a(href="#").blog__list-btn-more Загрузить ещё




