section.form-registracion
	.anchor#form-registracion
	.container
		.row
	
			.col-md-12
				.form-registracion__wrap
					h2.form-registracion__title Приобретение Online-курса «Инструктор тренажерного зала»

					.form-registracion__text 1. Войдите в систему

					.row
						.col-md-1
						.col-md-7
							input.form-registracion__input(type="text", placeholder="Адрес электронной почты")
							input.form-registracion__input(type="password", placeholder="Пароль")
						.col-md-4

					.row
						.col-md-1
						.col-md-7
							input(type="checkbox").form-registracion__checkbox#form-registracion__checkbox
							label(for="form-registracion__checkbox") Оставаться в системе
							.form-registracion__text.form-registracion__text_right Забыли пароль?
						.col-md-4
					.row
						.col-md-1
						.col-md-11
							.form-registracion__text Еще не зарегистрированы? 
								a(href="#") Пройдите регистрацию и получите демо-доступ в учебный кабинет

					.row
						.col-md-1
						.col-md-11
							.form-registracion__buttons
								input(type="button", value="Вход").form-registracion__btn
							
					.form-registracion__text 2. Уточните свои персональные данные, для их корректного отображения в Вашем сертификате и в базе для потенциальных работодателей

					.row
						.col-md-4
							input.form-registracion__input(type="text", placeholder="Ваша фамилия")
						.col-md-4
							input.form-registracion__input(type="text", placeholder="Ваше имя")
						.col-md-4
							input.form-registracion__input(type="text", placeholder="Ваше отчество")

					.row
						.col-md-6
							.row
								.col-md-5
									.form-registracion__password Контактный телефон
								.col-md-7
									input.form-registracion__input#form-registracion__input-telefon(type="text", placeholder="+7 (___) ___-__-__")
						.col-md-6

					.row
						.col-md-12
							a.form-registracion__compliance-link(href="#") Отправляя свои персональные данные, Вы соглашаетесь на их обработку
					br
					br


					.row
						.col-md-1
						.col-md-11
							.form-registracion__buttons
								input(type="button", value="Подтвердить").form-registracion__btn

					.form-registracion__text 3. Ознакомьтесь с условиями покупки

					.row
						.col-md-1
						.col-md-10
							.form-registracion__text Доступ к сервису предоставляется сразу после обработки начального платежа. Каждый месяц в течение действия годового контракта с вас будут взиматься применимые налоги (например, налог с продаж, налог на использование, другие налоги или сборы), а также сумма, указанная в момент покупки. Если ставка применимых налогов изменится в течение года, цена также будет изменена. Стоимость годовой подписки равняется сумме ежемесячных выплат, совершаемых в течение года в рамках подписки. Контракт продлевается по действующим на момент ежегодного продления ценам (включая применимые налоги) автоматически, до тех пор пока вы его не отмените. Стоимость продления подписки может быть изменена, о чем вы будете уведомлены заранее. Условия продажи и Политика конфиденциальности компании Digital River применяются как к начальной покупке, так и к каждому ежегодному продлению подписки. Если вы решите отменить заказ в течение 14 дней с момента размещения первого заказа, уплаченная сумма будет вам полностью возмещена. Если заказ отменен по истечении 14 дней, с вас будет взыскано 50% от остаточной суммы неизрасходованных средств по контракту. Вы можете отменить подписку (на условиях, указанных выше) или отказаться от автоматического продления подписки в любое время. Для этого обратитесь в Службу поддержки заказчиков.
						.col-md-1

					.row
						.col-md-1
						.col-md-11
							.form-registracion__buttons
								input(type="button", value="Принять и продолжить").form-registracion__btn

					.form-registracion__text 4. Перейдите к оплате

					.row
						.col-md-1
						.col-md-11
							.form-registracion__buttons
								input(type="button", value="Подтвердить").form-registracion__btn



