section.diploma
	.container
		.row
			.col-xs-12
				.diploma__wrap
					.diploma__img
						img(src="img/diploma-1.jpg")
					.diploma__img
						img(src="img/diploma-2.jpg")
					.diploma__text 
						span Наши выпускники получают не только отличные знания, но подтверждающие это документы. <br>Помимо «корочек», вы получите сертификат, который мы пришлем в любую точку России с помощью удобного вам сервиса доставки.
