.fixed-menu 
	ul.fixed-menu__list
		li.fixed-menu__elem
			a(href="#home").fixed-menu__link.fixed-menu-anchor
				.fixed-menu__icon
					img(src="img/swg/arrow.svg", alt="arrow")
				.fixed-menu__text-wrap
					.fixed-menu__text <span>Наверх</span>

		li.fixed-menu__elem
			a(href="#what-you-get").fixed-menu__link.fixed-menu-anchor
				.fixed-menu__icon
					img(src="img/swg/like-blue.svg", alt="like")
				.fixed-menu__text-wrap
					.fixed-menu__text <span>Что вы получаете?</span>

		li.fixed-menu__elem
			a(href="#training-program").fixed-menu__link.fixed-menu-anchor
				.fixed-menu__icon
					img(src="img/swg/glasses.svg", alt="glasses")
				.fixed-menu__text-wrap
					.fixed-menu__text <span>Программа обучения</span>

		li.fixed-menu__elem
			a(href="#learning-process").fixed-menu__link.fixed-menu-anchor
				.fixed-menu__icon
					img(src="img/swg/mouse.svg", alt="mouse")
				.fixed-menu__text-wrap
					.fixed-menu__text <span>Как проходит обучение?</span>

		li.fixed-menu__elem
			a(href="#diploma").fixed-menu__link.fixed-menu-anchor
				.fixed-menu__icon
					img(src="img/swg/star.svg", alt="star")
				.fixed-menu__text-wrap
					.fixed-menu__text <span>Преимущества</span>

		li.fixed-menu__elem
			a(href="#reviews").fixed-menu__link.fixed-menu-anchor
				.fixed-menu__icon
					img(src="img/swg/pencil.svg", alt="pencil")
				.fixed-menu__text-wrap
					.fixed-menu__text <span>Отзывы</span>








