footer.footer
	.footer__top
		.container
			.row
				.col-xs-12
					.footer__wrap
						.footer__top-text Присоединяйтесь к нам в социальных сетях, чтобы не пропустить спецпредложения<br> и общаться с профессионалами в сфере фитнеса!
						ul.footer__social-list 
							li.footer__social-elem
								a(href="https://vk.com/prosportcenter")
									i.mdi.mdi-vk
							li.footer__social-elem
								a(href="https://www.facebook.com/Образовательный-центр-Физической-культуры-Спорта-и-Фитнеса-1870890693148732/")
									i.mdi.mdi-facebook
							li.footer__social-elem
								a(href="https://www.instagram.com/pro_sport_center/")
									i.mdi.mdi-instagram

	.footer__bottom
		.container
			.row
				.col-xs-12
					.footer__wrap.footer__wrap_bottom
						.footer__bottom-text ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ<br> "ОБРАЗОВАТЕЛЬНЫЙ ЦЕНТР ФИЗИЧЕСКОЙ КУЛЬТУРЫ СПОРТА И ФИТНЕСА"<br> ИНН 6452122608 КПП 64520100 ОКПО 03360458 ОГРН 1166451068002
							span ОКВЭД:80.42 Образование для взрослых и прочие виды образования
							a(href="#") Политика конфиденциальности и условия обработки и хранения <br>персональных данных

						.footer__btn-up.wow.fadeIn(data-wow-duration="1s",data-wow-offset="100" )
							a(href="#home").footer__btn-up-link.fixed-menu-anchor
								.footer__btn-up-icon
									img(src="img/swg/arrow.svg", alt="arrow")
								.footer__btn-up-text-wrap
									.footer__btn-up-text <span>Наверх</span>
