section.form-registracion
	.anchor#form-registracion
	.container
		.row
			.col-md-12
				.form-registracion__wrap
					h2.form-registracion__title Забыли пароль?

					.form-registracion__text Введите свой логин, чтобы помочь нам идентифицировать вашу личность.
					.row
						.col-md-7
							input.form-registracion__input(type="text", placeholder="Адрес электронной почты")
						.col-md-5

					.row
						.col-md-12
							.form-registracion__buttons
								input(type="button", value="Далее").form-registracion__btn

					.form-registracion__text Мы отправили вам письмо, чтобы вы смогли войти в систему.
