header
	.header
		.header__container-top
			.container
				.row
					.col-xs-12
						nav.header__nav
							ul.header__list
								li.header__elem
									a(href="about-school.html").header__link 
										span О школе
								li.header__elem
									a(href="index.html").header__link 
										span Online-курс
								li.header__elem
									a(href="#").header__link
										span Программы
								li.header__elem
									a(href="about-school.html", data-scroll="our-teachers").header__link.fixed-menu-anchor.sctoll-to-ellement
										span Преподаватели
								li.header__elem
									a(href="#").header__link.active 
										span Выпускники
								li.header__elem
									a(href="#").header__link 
										span Наш блог
								li.header__elem
									a(href="#").header__link 
										span Контакты
		.header__container-bottom
			.container
				.row
					.col-xs-12
						nav.header__nav
							ul.header__list
								li.header__elem
									a(href="#").header__link 
										span Купить online курс

									.header__dropdown 
										.header__dropdown-wrap
											.header__dropdown-text Станьте сертифицированным<br> тренером<br><span>Стоимость сейчас <span class="header__dropdown-through">12000руб.</span></span> 10000 руб.!
											input(type="button", value="Купить со скидкой").header__dropdown-btn
								li.header__elem-authorized
									a(href="#").header__link 
										span 
											i.mdi.mdi-laptop-chromebook
											| Ваш учебный кабинет
									.header__dropdown 
										//- первый вариант дропдауна
										.header__dropdown-wrap.header__dropdown-wrap_small
											input.header__dropdown-input(type="text", placeholder="Ваш электронный адрес")
											input.header__dropdown-input(type="text", placeholder="Ваш логин")
											.header__dropdown-checkbox-block
												input(type="checkbox").header__dropdown-checkbox#header__dropdown-checkbox
												label(for="header__dropdown-checkbox") Оставаться в системе
											input(type="button", value="Войти").header__dropdown-btn.header__dropdown-btn_blue
											.header__dropdown-text.header__dropdown-text_mb.header__dropdown-text_small Ещё не зарегистрированы?<br>

												a(href="#") Пройдите регистрацию
										//- второй вариант дропдауна
										//- .header__dropdown-wrap.header__dropdown-wrap_small
										//- 	input(type="button", value="Войти").header__dropdown-btn.header__dropdown-btn_blue

								li.header__elem
									a(href="#").header__link 
										span.header__purple-btn Заказать обратный<br> звонок
									.header__dropdown 
										.header__dropdown-wrap.header__dropdown-wrap_small
											input.header__dropdown-input(type="text", placeholder="Ваше имя")
											input.header__dropdown-input#header__phone_number(type="text", placeholder="+7 (      )       -    -    ")
											input(type="button", value="Отправить").header__dropdown-btn.header__dropdown-btn_blue
											.header__dropdown-text.header__dropdown-text_mb.header__dropdown-text_small
												a(href="#") Отправляя свои персональные данные, Вы соглашаетесь на их обработку

								li.header__elem
									.header__contacts
										a(href="tel:+8 800 10 10 200").header__phone 8 800 10 10 200<br>
											span звонок по России бесплатный


	.header-mobile
		.header-mobile__container
			.container
				.row
					.col-xs-12
						nav.header__nav
							ul.header__list
								li.header__elem
									a(href="#").header-mobile__btn 
										.header-mobile__img

								li.header__elem
									a(href="#").header__link 
										span.header__purple-btn Заказать обратный<br> звонок
									.header__dropdown 
										.header__dropdown-wrap.header__dropdown-wrap_small
											input.header__dropdown-input(type="text", placeholder="Ваше имя")
											input.header__dropdown-input#header__phone_number-mobile(type="text", placeholder="+7 (      )       -    -    ")
											input(type="button", value="Отправить").header__dropdown-btn.header__dropdown-btn_blue
											.header__dropdown-text.header__dropdown-text_mb.header__dropdown-text_small
												a(href="#") Отправляя свои персональные данные, Вы соглашаетесь на их обработку

								li.header__elem
									.header__contacts
										a(href="tel:+8 800 10 10 200").header__phone 8 800 10 10 200<br>
											span звонок по России бесплатный

		.header__nav-menu
			ul.header__nav-menu-list-l1
				
				li.header__nav-menu-elem-l1
						ul.header__nav-menu-list-l2
							li.header__nav-menu-elem-l2
								a(href="about-school.html").header__nav-menu-link О школе
							li.header__nav-menu-elem-l2
								a(href="index.html").header__nav-menu-link Online-курс
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Программы
							li.header__nav-menu-elem-l2
								a(href="#our-teachers").header__nav-menu-link.fixed-menu-anchor Преподаватели
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link База выпускников
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Наш блог
									
				li.header__nav-menu-elem-l1
						ul.header__nav-menu-list-l2
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Учебный кабинет
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Войти
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Выйти

				li.header__nav-menu-elem-l1
						ul.header__nav-menu-list-l2
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Пройти регистрацию

				li.header__nav-menu-elem-l1
						ul.header__nav-menu-list-l2
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Online-курс

				li.header__nav-menu-elem-l1
						ul.header__nav-menu-list-l2
							li.header__nav-menu-elem-l2
								a(href="#").header__nav-menu-link Перейти к покупке online-курса										