header.header
	.header__container-top
		.container
			.row
				.col-xs-12
					a(href="#").logo
						img(src="img/swg/logo.svg", alt="logo")
					nav.header__nav
						ul.header__list
							li.header__elem
								a(href="#").header__link 
									span О школе
							li.header__elem
								a(href="#").header__link 
									span Программы
							li.header__elem
								a(href="#").header__link 
									span Преподаватели
							li.header__elem
								a(href="#").header__link.active 
									span Выпускники
							li.header__elem
								a(href="#").header__link 
									span Наш блог
							li.header__elem
								a(href="#").header__link 
									span Контакты
	.header__container-bottom
		.container
			.row
				.col-xs-12
					nav.header__nav
						ul.header__list
							li.header__elem
								a(href="#").header__link 
									span Купить online курс
							li.header__elem
								a(href="#").header__link 
									span Ваш учебный кабинет
							li.header__elem
								a(href="#").header__link 
									span.header__urple-btn Заказать обратный<br> звонок
							li.header__elem
								.header__contacts
									a(href="tel:+7 495 82 55555").header__phone 8 800 10 10 200<br>
										span звонок по России бесплатный



