section.learning-process#learning-process
	.container
		.row
			.col-xs-12
				.learning-process__wrap
					h2.learning-process__title Как проходит обучение
					ul.learning-process__list
						li.learning-process__elem <span class="learning-process__elem-order">1.</span> <span class="learning-process__elem-text"><span>Зарегистрируетесь для получения демо-версии учебного кабинета и подтвердите регистрацию через указанную вами электронную почту. Уже после этого вы можете оценить удобство интерфейса учебного кабинета.</span></span>
						li.learning-process__elem <span class="learning-process__elem-order">2.</span> <span class="learning-process__elem-text"><span>Оплатите стоимость прохождения обучения через одного из предложенных сервисов оплаты.</span></span>
						li.learning-process__elem <span class="learning-process__elem-order">3.</span> <span class="learning-process__elem-text"><span>После получения письма о подтверждении оплаты вы можете приступить к обучению!</span></span>
						li.learning-process__elem <span class="learning-process__elem-order">4.</span> <span class="learning-process__elem-text"><span>После прохождения тестирования в конце блоков занятий требующих тестирования, вы сможете выборать подходящее для вас время для сдачи Skype-экзамена.</span></span>
						li.learning-process__elem <span class="learning-process__elem-order">5.</span> <span class="learning-process__elem-text"><span>После просмотра всех обучающих видео и сдачи экзаменов, вы получаете сертификат о прохождении обучения и попадаете в базу выпускников для потенциальных работодателей!</span></span>
						li.learning-process__elem <span class="learning-process__elem-order">!</span><span class="learning-process__elem-text"> <span>В случае возникновения дополнительных вопросов о курсе, порядке оплаты, прохождения обучения или сдачи экзаменов, вы можете связаться с нашим менеджером позвонив нам или заказав бесплатный обратный звонок.</span></span>
