section.lk
	.anchor#lk
	.container
		.row
			.col-xs-12
				.lk__wrap
					h2.lk__title Здравствуйте, Иванов Илья!
					.lk__text Добро пожаловать на курс обучения в Образовательный центр Физической культуры Спорта и Фитнеса.<br>Мы рекомендуем смотреть все видео по порядку, так как некоторые лекции ссылаются друг на друга. В любой момент вы можете вернуться к интересующей вас информации.<br>После просмотра некоторых видео для вас откроется возможность прохождения онлайн-тестирования и запись на экзамен по Skype.<br>Желаем удачи в освоении новых знаний!
					.lk__list-wrap
						h2.lk__list-title Анатомия
						ul.lk__list
							li.lk__list-elem
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-1").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-2").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-1").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-2").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem
								a(href="#").lk__list-test Пройти тестирование<br> по пройденному материалу

					.lk__list-wrap
						h2.lk__list-title Спортивное питание
						ul.lk__list
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-1").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-2").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem
								a(href="#").lk__list-test Пройти тестирование<br> по пройденному материалу

					.lk__list-wrap
						h2.lk__list-title Первая медицинская помощь
						ul.lk__list
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-1").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem
								a(href="#").lk__list-test Пройти тестирование<br> по пройденному материалу

					.lk__list-wrap
						h2.lk__list-title Технология продаж персональных тренировок
						ul.lk__list
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-1").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
							li.lk__list-elem.lk__list-elem-default
								a(href="#", style="background-image:url(img/preview.jpg)", data-video="video-2").lk__list-link
									i.mdi.mdi-arrow-right-drop-circle
								.lk__list-text 
									a(href="#") Анатомия. Строение костей<br>
									| Преподаватель: <span>Семён Яковлев.</span><br>
									| Продолжительность: <span>37 мин.</span><br>
					
					a(href="#").lk__link
						i.mdi.mdi-arrow-down 
						| Скачайте все дополнительные материалы одним файлом

					.lk__text-bottom 
						h2.lk__text-bottom-title Экзаменационные испытания
						| Анатомия  <span>тестирование пройдено на 70% успешно, зачтено</span><br>Основы диетологии и спортивное питание <span>тестирование закрыто</span><br>Первая медицинская помощь <span>тестирование закрыто</span><br>Тренировачный процесс <span>тестирование закрыто</span><br>
						.lk__text-bottom-date Ближайшие даты Skype-экзаменов: <a href="#">7 ноября,</a> <a href="#">22 ноября.</a>



