table(style="width: 100%; max-width: 600px; background-image: url('img/bg.jpg'); padding: 0; margin: 0 auto; font-family: Arial; border-collapse: collapse; text-decoration: none; padding-bottom: 20px;")
	tr(style="background-color:#333366;")
		td(style="width:5%")
		td(style="width:25%; padding-top: 35px; padding-bottom: 20px;vertical-align: top;")
			a(href="#", style="color: #fff; font-size: 20px; text-decoration: none;") prosportcenter.ru
		td(style="width:20%")
		td(style="width:25%; padding-top: 35px; padding-bottom: 20px; vertical-align: top;")
			a(href="#", style="color: #fff; font-size: 24px; text-decoration: none;") 8 800 10 10 200 
				span(style="font-size: 12px;") звонок по России бесплатный
		td(style="width:5%")
	tr
		td(style="height: 35px", colspan="7")

	tr
		td
		td(style="background-color: #fff") 
		td(style="background-color: #fff; padding-top: 10px; padding-bottom: 20px;")  
			img(src="img/logo.png", alt="Логотип", style="width: 80%;")
		td(style="background-color: #fff") 
		td
	
	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") Здравствуйте!
		td

	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") Поздравляем, Вы успешно прошли регистрацию и получили бесплатный доступ в учебный кабинет.
		td

	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") Ваш логин: <span>frau-fru@mail.ru</span><br>Ваш пароль: <span>kuhgkuj54854</span>

		td


	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") Для входа в учебный кабинет перейдите по ссылке:
				a(href="#") demo.lk.psc.ru/fraufru
		td

	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") Полная версия учебного кабинета с полным доступом к видеозаписям, дополнительным материалам, тестированию и возможностью подтвердить знания сертификатом будет доступна после приобретения курса.
		td

	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") По всем вопросам звоните нам по телефону +7 800 10 10 200.
		td

	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; background-color: #fff", colspan="3")
			span(style="color: #666666; font-size: 15px;") С уважением,<br>Команда Образовательного центра Физической культуры Спорта и Фитнеса<br><br>
		td



	tr(style="background-color:#333366;")
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; padding-top: 60px; text-align: center;" colspan="3")
			span(style="color: #fff; font-size: 13px;") Присоединяйтесь к нам в социальных сетях, чтобы не пропустить<br> спецпредложения<br> и общаться с профессионалами в сфере итнеса!
		td
	tr(style="background-color:#333366;")
		td
		td(style="height: 35px; vertical-align: top; padding: 10px; padding-bottom: 40px; text-align: center;" colspan="3")
			a(href="https://vk.com/prosportcenter", style="margin: 0 10px;")
				img(src="img/mail/vk.png", alt="Вконтакте")
			a(href="https://www.facebook.com/Образовательный-центр-Физической-культуры-Спорта-и-Фитнеса-1870890693148732/", style="margin: 0 10px;")
				img(src="img/mail/facebook.png", alt="Фейсбук")
			a(href="https://www.instagram.com/pro_sport_center/", style="margin: 0 10px;")
				img(src="img/mail/instagram.png", alt="Инстаграм")
		td
	tr
		td
		td(style="height: 35px; vertical-align: top; padding: 20px; padding-bottom: 40px; text-align: center;" colspan="3")
			a(href="#", style="color: #333366; font-size: 20px; text-decoration: none;") prosportcenter.ru
		td

