section.make-complex
	.anchor#make-complex
	.container
		.row
			.col-md-12
				.form-registracion__wrap

					.form-registracion__logo
					h2.form-registracion__title-center 
						|Составление  тренировочного комплекса
						span (осталось 40:00 минут)

					.row
						.col-md-12
							label(for="textarea").form-registracion__text_gray 
								|Составьте комплекс и диету для девушки 28 лет с 10-летним опытом аэробных тренировок. Задача - увеличение мышечной массы. <br><br>
					.row
						.col-md-12
							textarea(name="textarea").form-registracion__textarea.form-registracion__textarea_big
					
					.row
						.col-md-12
							input(type="button", value="Отправить").form-registracion__btn.form-registracion__btn_purple



					


