section.map
	.anchor
	.container.map__container
		.row
			.col-xs-12
				.map__wrap
					.map__block
						#map
					.map__text 
						span Наш адрес: Саратов,<br> Кутякова, 14.
						span елефон в Саратове: <br> 8 927 10-10-200