section.news
	.anchor#news
	.container
		.row
			.col-xs-12
				.news__wrap
					h1.news__title Заголовок новости
					.news__img(style="background-image:url(img/video-preview.jpg)")
					.news__text 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam id, cupiditate qui dolores beatae sit nam ullam error, veniam, harum repellat. Quaerat, doloribus eum eaque laboriosam fugiat, doloremque. Voluptas, animi, ipsa. Facilis adipisci quibusdam dolorem beatae? Similique neque deserunt quisquam nam atque placeat, veritatis, iste voluptatum optio, minima dolorum provident sequi blanditiis ab quas qui repudiandae ullam aliquid assumenda animi deleniti laboriosam! 
						p Expedita consequatur voluptatum sequi aperiam ipsa distinctio nobis excepturi minima sint voluptate, reprehenderit odit, cupiditate similique maiores, quod aspernatur dolores, nihil nesciunt iste amet itaque. Velit, quam consectetur voluptates quo enim repellendus aliquam quos dolor sed magnam libero aliquid, omnis nostrum, molestias molestiae illo. Distinctio exercitationem, quia aut reiciendis unde vitae quod itaque eos soluta fugiat, fuga sunt molestias, laboriosam laborum eum deleniti sed placeat earum suscipit atque. Explicabo repellat quos repudiandae ipsam. Dolore ipsam accusamus tempora sapiente accusantium incidunt praesentium vero, saepe, dolorum aliquid libero labore beatae minima quam aperiam iste harum iure, corporis, quaerat sit? Ratione natus fugit laborum aliquam facere iste dicta excepturi quam architecto eaque necessitatibus nostrum ut sed porro ipsum iusto, quidem dolor assumenda quasi sit commodi animi! 
						p A nam, possimus illum veritatis perspiciatis quibusdam nisi eaque nostrum aliquid, aliquam placeat blanditiis assumenda.
					.news__buttons
						a(href="#").news__btn.news__btn_twitter
							i.mdi.mdi-twitter 
							| Tweet
							span 6
						a(href="#").news__btn.news__btn_vk
							i.mdi.mdi-vk 
							| Share
							span 18
						a(href="#").news__btn.news__btn_faceboock
							i.mdi.mdi-facebook-box 
							| Share
							span 187


