section.our-training-programs
	.anchor#our-training-programs
	.container
		.row
			.col-xs-12
				.our-training-programs__wrap
					h2.our-training-programs__title Наши программы обучения
					ul.our-training-programs__list
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-1.png", alt="logo-1")
							.our-training-programs__text <span>Инструктор тренажерного зала</span><br>Курс рассчитан на начальный и средний уровень подготовки. <br>Длительность курса 50 часов. <br>Курс освещает дисциплины: анатомия (уровень 1), физиология (уровень 1), диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс.<br>При успешном прохождение курса выдается сертификат с возможностью стажировки.
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-2.png", alt="logo-2")
							.our-training-programs__text <span>Тренер аэробного зала</span><br>Курс рассчитан на начальный и средний уровень подготовки. <br>Длительность курса 35 часов. <br>Курс освещает дисциплины: анатомия (уровень 1), диетология, технология продаж, теорию и практику проведения групповых программ. <br>При успешном прохождение курса выдается сертификат с возможностью стажировки.
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-3.png", alt="logo-3")
							.our-training-programs__text <span>Питание. Основы диетологии</span><br>Курс рассчитан на начальный и средний уровень подготовки. <br>Длительность курса 10 часов. <br>Курс освещает дисциплины: диетология, спортивное питание. <br>После прохождения курса выдается сертификат.
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-4.png", alt="logo-4")
							.our-training-programs__text <span>Курсы пауэрлифтинга</span><br>Курс рассчитан на желающих максимально улучшить свои силовые показатели. Обучение проводит МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу Семенихин Иван. Помимо теоритических лекций в программу входят практические занятия. <br>Продолжительность курсов 10 часов
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-5.png", alt="logo-5")
							.our-training-programs__text <span>Курсы бодибилдинга</span><br>Программа рассчитана на начинающих и продвинутых спортсменов желающих улучшить свою физическую форму. Курс дает обширную информацию о выстраивание тренировочного процесса, питания и распорядке дня. Помимо теоретических лекций в программу входят практические занятия. Продолжительность 15 часов. После прохождение курса выдается сертификат.
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-6.png", alt="logo-6")
							.our-training-programs__text <span>Детский фитнес</span><br>Программа рассчитана на начинающих и продвинутых спортсменов желающих улучшить свою физическую форму. Курс дает обширную информацию о выстраивание тренировочного процесса, питания и распорядке дня. Помимо теоретических лекций в программу входят практические занятия. Продолжительность 15 часов. После прохождение курса выдается сертификат.
						li.our-training-programs__elem
							.our-training-programs__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/logo/logo-7.png", alt="logo-7")
							.our-training-programs__text <span>Инструктор тренажерного зала <span class="comments">ONLINE КУРС</span></span><br>23 видеоурока  в персональном учебном кабинете + дополнительные раздаточные материалы<br>Курс освещает дисциплины: анатомия (уровень 1), физиология (уровень 1), диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс.<br>Курс будет полезен и будующим тренерам, и тем кто хочет сам грамотно заниматься в зале.
