section.our-teachers
	.anchor#our-teachers
	.container
		.row
			.col-xs-12
				.our-teachers__wrap
					h2.our-teachers__title Наши преподаватели
					.slider-our-teachers
						//- первыый слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- второй слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- третий слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 


						//- первыый слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- второй слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- третий слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- первыый слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет.

						//- второй слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет.

						//- третий слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет.

						//- первыый слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- второй слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- третий слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- первыый слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- второй слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 

						//- третий слайд
						.our-teachers__slide
							.our-teachers__img(style="background-image:url('img/photo.png')")
							.our-teachers__slide-wrap
								a(href="#").our-teachers__name Семинихин Иван
								.our-teachers__text 
									| Стаж тренировок более 10 лет. Действующий тренер и спортсмен. МСМК по жиму штанги лежа по версии WPA, СПР, НАП. Многократный победитель всероссийских и мировых первенств по пауэрлифтингу. Специализация: диетология,силовой тренинг.диетология, спортивное питание, первая медицинская помощь, технология продаж, тренировочный процесс. 