section.partners
	.container
		.row
			.col-xs-12
				.partners__wrap
					h2.partners__title Наши партнеры
					ul.partners__list
						li.partners__elem
							.partners__img
								img(src="img/partners/old-shool.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/fbfso.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/liga.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/nyashky.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/non-stop.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/lider.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/dionika.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/start.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/chelsy.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/maksiuta.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/nap.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/sport-max.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/kosmojim.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/fizra.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/tor.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/maxi-fit.png", alt="")
						li.partners__elem
							.partners__img
								img(src="img/partners/bistro-fitnes.png", alt="")



