.popup#popup-test-result
	.popup__wrap.popup__wrap_aggregate-compilation
		.popup__wrap-text Тест по дисциплине «Анатомия» состоит из 40 вопросов.<br>На выполнение теста отводится 40 минут.<br><br>Внимание, тест можно пройти всего 1 раз!<br><br>Вы готовы приступить сейчас?

		.popup__wrap-btn-group

			input(type="button", value="Отложить тестирование").popup__wrap-btn.popup__wrap-btn_gray 
			input(type="button", value="Приступить сейчас").popup__wrap-btn.popup__wrap-btn_blue-color