.popup
	.popup__wrap
		.popup__wrap-text Полный функционал доступен после <br> приобретения.<br><span>Стоимость сейчас <span class="popup__wrap-through">12000руб.</span></span> 10000 руб.!
		a(href="#").popup__wrap-btn Купить со скидкой
