.popup#popup-aggregate-compilation
	.popup__wrap.popup__wrap_aggregate-compilation
		.popup__wrap-text На составление тренировочного комплекса Вам предоставляется 40 минут.Узнать оценку Вы сможете на Skype-экзамене с нашим преподавателем.

		.popup__wrap-text Вы готовы приступить сейчас?

		.popup__wrap-btn-group

			input(type="button", value="Отложить").popup__wrap-btn.popup__wrap-btn_gray 
			input(type="button", value="Приступить сейчас").popup__wrap-btn.popup__wrap-btn_blue-color