section.registration-completed
	.anchor#registration-completed
	.container
		.row
			.col-md-12
				.form-registracion__wrap
					h2.form-registracion__title Регистрация завершена

					.form-registracion__text Спасибо за регистрацию! <br><br> На указанный Вами адрес электронной почты придет письмо, перейдя по ссылкам в котором Вы можете получить беплатный доступ в демо-доступа в учебный кабинет или перейти к оплате полного доступа.


					


