section.registration
	.container
		.row
			.col-xs-12
				.registration__wrap
					.registration-block.registration-block_bg-color 
						.registration-block__text Зарегистрируйтесь для получения демо-доступа к учебным материалам 
						.registration-block__input-block
							input(type="text", placeholder="Ваш электронный адрес").registration-block__input
							a(href="#").registration-block__btn Получить доступ
						a(href="#").registration-block__link Отправляя свои персональные данные, Вы соглашаетесь на их обработку
						.registration-block__confirmation Письмо с подтверждением получения доступа отправлено Вам на почту






