section.reviews
	.anchor#reviews
	.container
		.row
			.col-xs-12
				.reviews__wrap
					h2.reviews__title Отзывы наших выпускников
					.slider-reviews
						//- первыый слайд
						.slider-reviews__slide
							.slider-reviews__img(style="background-image:url('img/video-preview.jpg')")
							.slider-reviews__slide-wrap
								.slider-reviews__slide-top
									a(href="#").slider-reviews__name Олег Старостин
									.slider-reviews__date 28 ноября 2016 в 13:09
									a(href="#").slider-reviews__close
										i.mdi.mdi-close
									a(href="#").slider-reviews__edit
										i.mdi.mdi-lead-pencil
								.slider-reviews__slide-middle
									.slider-reviews__text 
										| Разнообразный и богатый опыт реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры позволяет оценить значение новых предложений.
								.slider-reviews__slide-bottom 
									a(href="#").slider-reviews__btn Ответить
									a(href="#").slider-reviews__like 
										i.mdi.mdi-heart 
										span 1

						//- второй слайд
						.slider-reviews__slide
							.slider-reviews__img(style="background-image:url('img/video-preview.jpg')")
							.slider-reviews__slide-wrap
								.slider-reviews__slide-top
									a(href="#").slider-reviews__name Олег Старостин
									.slider-reviews__date 28 ноября 2016 в 13:09
									a(href="#").slider-reviews__close
										i.mdi.mdi-close
									a(href="#").slider-reviews__edit
										i.mdi.mdi-lead-pencil
								.slider-reviews__slide-middle
									.slider-reviews__text 
										| Разнообразный и богатый опыт реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры позволяет оценить значение новых предложений.
								.slider-reviews__slide-bottom 
									a(href="#").slider-reviews__btn Ответить
									a(href="#").slider-reviews__like 
										i.mdi.mdi-heart 
										span 1

						//- третий слайд
						.slider-reviews__slide
							.slider-reviews__img(style="background-image:url('img/video-preview.jpg')")
							.slider-reviews__slide-wrap
								.slider-reviews__slide-top
									a(href="#").slider-reviews__name Олег Старостин
									.slider-reviews__date 28 ноября 2016 в 13:09
									a(href="#").slider-reviews__close
										i.mdi.mdi-close
									a(href="#").slider-reviews__edit
										i.mdi.mdi-lead-pencil
								.slider-reviews__slide-middle
									.slider-reviews__text 
										| Разнообразный и богатый опыт реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры позволяет оценить значение новых предложений.
								.slider-reviews__slide-bottom 
									a(href="#").slider-reviews__btn Ответить
									a(href="#").slider-reviews__like 
										i.mdi.mdi-heart 
										span 1

										i.mdi.mdi-arrow-right