section.make-complex
	.anchor#make-complex
	.container
		.row
			.col-md-12
				.form-registracion__wrap

					.form-registracion__logo
					h2.form-registracion__title-center 
						|Тестирование по анатомии
						span (осталось 59:30 минут)

					.row
						.col-md-12
							.form-registracion__text
								|Вопрос 2

					.row
						.col-md-12
							.form-registracion__text.form-registracion__text_gray
								|А и Б сидели на трубе, А упало, Б пропало, что осталось на трубе?

					.row
						.col-md-12
							.form-registracion__test
								ul.form-registracion__test-list
									
									li.form-registracion__test-elem
										input(type="checkbox").form-registracion__test-checkbox#form-registracion__test-checkbox-1
										label(for="form-registracion__test-checkbox-1") Ничего

									li.form-registracion__test-elem
										input(type="checkbox").form-registracion__test-checkbox#form-registracion__test-checkbox-2
										label(for="form-registracion__test-checkbox-2") И

									li.form-registracion__test-elem
										input(type="checkbox").form-registracion__test-checkbox#form-registracion__test-checkbox-3
										label(for="form-registracion__test-checkbox-3") Теплые воспоминания  и светлая грусть

					.row
						.col-md-12
							input(type="button", value="Ответить").form-registracion__btn.form-registracion__btn_purple

					.row
						.col-md-12
							.form-registracion__pagination
								ul.form-registracion__pagination-list
									li.answered 1
									li.active 2
									li 3
									li 4
									li 5
									li 6
									li 7
									li 8
									li 9
									li 10
									li 11
									li 12
									li 13
									li 14
									li 15
									li 16
									li 17
									li 18
									li 19
									li 20
									li 21
									li 22
									li 23
									li 24
									li 25
									li 26
									li 27
									li 28
									li 29
									li 30
									li 31
									li 32
									li 33
									li 34
									li 35
									li 36
									li 37
									li 38
									li 39
									li 40

					


