section.make-complex
	.anchor#make-complex
	.container
		.row
			.col-md-12
				.form-registracion__wrap

					.form-registracion__logo
					h2.form-registracion__title-center 
						|Тестирование по анатомии

					.row
						.col-md-12
							.form-registracion__text
								|Ксения, Вы правильно ответили на 0% вопросов.

					.row
						.col-md-12
							table.form-registracion__table
								tr
									td 0-35%
									td 36-52%
									td 53-72%
									td 73-100%
								tr
									td 2
									td 3
									td 4
									td 5


					.row
						.col-md-12
							.form-registracion__text
								|Ваша оценка  - 1!
					

					.row
						.col-md-12
							label(for="textarea").form-registracion__text_italic-small 
								|Если Вы хотите пересдать тест, свяжитесь с нами и поясните причину:
					.row
						.col-md-9
							textarea(name="textarea", rows="3").form-registracion__textarea
						.col-md-3
							input(type="button", value="Отправить").form-registracion__btn.form-registracion__btn_purple



					


