section.training-program#training-program
	.container
		.row
			.col-xs-12
				.training-program__wrap
					h2.training-program__title Программа обучения:
					ul.training-program__list
						li.training-program__elem Анатомия 5 часов видео <span>+ тестирование + Skype-экзамен</span>
						li.training-program__elem Основы диетологии и спортивное питание 5 часов <span>+ тестирование + Skype-экзамен</span>
						li.training-program__elem Составление диеты
						li.training-program__elem Принципы Вейдера
						li.training-program__elem Первая медицинская помощь 5 часов <span>+ тестирование + Skype-экзамен</span>
						li.training-program__elem Травмы 5 часов
						li.training-program__elem Техногогия продаж 5 часов
						li.training-program__elem Тренировачный процесс 5 часов <span>+ тестирование + Skype-экзамен</span>
					.training-program__submit Ближайшиые даты Skype-экзаменов: <span>15 октября</span>, <span>16 октября</span>, <span>28 октября</span>, <span>29 октября</span>



