.video-block#video-block
	.video-block__wrap
		.video-block__video-wrap
			video.video-block__video#video-block__video(controls, controlsList="nodownload")
				source(src="", type="video/mp4")
				| Your browser does not support the video tag.
			a(href="#").video-block__wrap-link 	Пройти тестирование по пройденному материалу
			a(href="#").video-block__wrap-close#video-block__wrap-close.i.mdi.mdi-close
		.video-block__text
			.video-block__quality
				| Качество:
				a(href="#").video-block__quality-link.active 720
				a(href="#").video-block__quality-link 1080
			a(href="#").video-block__text-link Анатомия. Строение костей скелета. <br>
			| Преподаватель: Семен Яковлев.<br> В данной лекции рассматриваются такие понятия как кости, их строение, места прикрепления и т.д. и  т.п.
			a(href="#").video-block__text-download 
				i.mdi.mdi-arrow-down
				| Скачать дополнительные материалы к лекции
			.video-block__text-bottom Следующая лекция: Анатомия. Строение мышц.



