section.what-you-get
	.anchor#what-you-get 
	.container
		.row
			.col-xs-12
				.what-you-get__wrap
					h2.what-you-get__title Что вы получаете, обучаясь у нас
					ul.what-you-get__list
						li.what-you-get__elem
							.what-you-get__img.wow.rollIn(data-wow-offset="200", data-wow-duration="1s")
								img(src="img/swg/laptop.svg", alt="logo")
							.what-you-get__text.wow.pulse(data-wow-offset="150", data-wow-duration="1s") Удобный учебный кабинет, доступный с любого ПК
						li.what-you-get__elem
							.what-you-get__img.wow.rollIn(data-wow-offset="200", data-wow-duration="1.5s")
								img(src="img/swg/play.svg", alt="logo")
							.what-you-get__text.wow.pulse(data-wow-offset="150", data-wow-duration="1.5s") 50 часов обучающих видеоматериалов
						li.what-you-get__elem
							.what-you-get__img.wow.rollIn(data-wow-offset="200", data-wow-duration="2s")
								img(src="img/swg/book.svg", alt="logo")
							.what-you-get__text.wow.pulse(data-wow-offset="150", data-wow-duration="2s") Дополнительные тексторые материалы к курсу
						li.what-you-get__elem
							.what-you-get__img.wow.rollIn(data-wow-offset="200", data-wow-duration="2.5s")
								img(src="img/swg/brains.svg", alt="logo")
							.what-you-get__text.wow.pulse(data-wow-offset="150", data-wow-duration="2.5s") Обучение у квалифицированных преподавателей
						li.what-you-get__elem
							.what-you-get__img.wow.rollIn(data-wow-offset="200", data-wow-duration="3s")
								img(src="img/swg/medal.svg", alt="logo")
							.what-you-get__text.wow.pulse(data-wow-offset="150", data-wow-duration="3s") Сертификат о прохождении обучения




