section.what-you-get-2
	.anchor#what-you-get 
	.container
		.row
			.col-xs-12
				.what-you-get-2__wrap
					.what-you-get-2__title Образовательный центр физической культуры, спорта и итнеса открывает возможности обучения, повышения квалификации и трудоустройства для новичков и профессионалов в сфере фитнеса
					ul.what-you-get-2__list
						li.what-you-get-2__elem
							.what-you-get-2__img.wow.rollIn(data-wow-offset="200", data-wow-duration="1s")
								img(src="img/swg/www.svg", alt="logo")
							.what-you-get-2__text.wow.pulse(data-wow-offset="150", data-wow-duration="1s") Выпускники попадают в региональную базу тренеров
						li.what-you-get-2__elem
							.what-you-get-2__img.wow.rollIn(data-wow-offset="200", data-wow-duration="1.5s")
								img(src="img/swg/dumbbells.svg", alt="logo")
							.what-you-get-2__text.wow.pulse(data-wow-offset="150", data-wow-duration="1.5s") Возможность пройти стажировку после обучения
						li.what-you-get-2__elem
							.what-you-get-2__img.wow.rollIn(data-wow-offset="200", data-wow-duration="2s")
								img(src="img/swg/paper.svg", alt="logo")
							.what-you-get-2__text.wow.pulse(data-wow-offset="150", data-wow-duration="2s") Сертификат и «корочки» о прохождении обучения
						li.what-you-get-2__elem
							.what-you-get-2__img.wow.rollIn(data-wow-offset="200", data-wow-duration="2.5s")
								img(src="img/swg/presentation.svg", alt="logo")
							.what-you-get-2__text.wow.pulse(data-wow-offset="150", data-wow-duration="2.5s") Обучение у квалифицированных преподавателей
						li.what-you-get-2__elem
							.what-you-get-2__img.wow.rollIn(data-wow-offset="200", data-wow-duration="3s")
								img(src="img/swg/handshake.svg", alt="logo")
							.what-you-get-2__text.wow.pulse(data-wow-offset="150", data-wow-duration="3s") Помощь в дальнейшем трудоустройстве




