section.what-you-get#what-you-get
	.container
		.row
			.col-xs-12
				.what-you-get__wrap
					h2.what-you-get__title Что вы получаете, обучаясь у нас
					ul.what-you-get__list
						li.what-you-get__elem
							.what-you-get__img
								img(src="img/swg/laptop.svg", alt="logo")
							.what-you-get__text Удобный учебный кабинет, доступный с любого ПК
						li.what-you-get__elem
							.what-you-get__img
								img(src="img/swg/play.svg", alt="logo")
							.what-you-get__text 50 часов обучающих видеоматериалов
						li.what-you-get__elem
							.what-you-get__img
								img(src="img/swg/book.svg", alt="logo")
							.what-you-get__text Дополнительные тексторые материалы к курсу
						li.what-you-get__elem
							.what-you-get__img
								img(src="img/swg/brains.svg", alt="logo")
							.what-you-get__text Обучение у квалифицированных преподавателей
						li.what-you-get__elem
							.what-you-get__img
								img(src="img/swg/medal.svg", alt="logo")
							.what-you-get__text Сертификат о прохождении обучения




