section.why-study-with-us
	.anchor#why-study-with-us
	.container
		.row
			.col-xs-12
				.why-study-with-us__wrap
					h2.why-study-with-us__title Почему вам стоит учиться у нас?
					ul.why-study-with-us__list
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/like.svg", alt="like")
							.why-study-with-us__text Курс одобрен Федеорацией бодибилдинга ФБСО
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/pig.svg", alt="pig")
							.why-study-with-us__text Доступная цена
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/peoples.svg", alt="peoples")
							.why-study-with-us__text Курс подойдет и для тех, кто только собирается начать карьеру в сфере фитнеса, и для уже работающих тренеров
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/clock.svg", alt="clock")
							.why-study-with-us__text Вы можете начать обучение в любой момент, не дожидаясь набора группы.
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/foot.svg", alt="foot")
							.why-study-with-us__text Вы учитесь в удобном для вас темпе
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/paper-airplane.svg", alt="paper-airplane")
							.why-study-with-us__text Лекции дополнены текстовыми материа- лами, которые упростят процесс обучения и подготовки к экзаменам
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/earch.svg", alt="earch")
							.why-study-with-us__text Экзамены можно сдать дистан- ционно, выбрав удобные для вас дату и время
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/magnifier.svg", alt="magnifier")
							.why-study-with-us__text После прохожде- ния обучения вы попадаете в базу выпускников для работодателей
						li.why-study-with-us__elem
							.why-study-with-us__img.wow.bounceInDown.center(data-wow-offset="150")
								img(src="img/swg/money-bag.svg", alt="money-bag")
							.why-study-with-us__text Бесплатный демо-доступ в учебный кабинет, чтобы вы могли оценить удобство интерфейса